.widget-clock {
  .widget-content {
    background: #3780ff;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    height: 170px;
    justify-content: center;
  }

  .time {
    font-size: 2em;
  }
}